section{
    max-width: 375px;
    min-height: 450px;
    padding: 3.5rem 2.25rem;

    @media only screen and (min-width: 768px){
        min-height: 580px;
    }

    img{
        margin-bottom: 2rem;
    }

    h2{
        color: var(--very-light-gray);
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }
    
    p{
        color: var(--transparent-white);
        font-family: "Lexend Deca", sans-serif;
        font-size: inherit;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 3rem;

        @media only screen and (min-width: 768px){
            margin-bottom: 6rem;
        }
    }

    a{
        border-radius: 2rem;
        font-family: "Lexend Deca", sans-serif;
        padding: .8rem 2rem;

    }
}

.bright-orange-section{
    background-color: var(--bright-orange);
    border-radius: .625rem .625rem 0 0;

    a{
        color: var(--bright-orange);
        background-color: var(--very-light-gray);
        border: solid 2px var(--very-light-gray);
        text-decoration: none;
        transition: ease-in-out .4s all;

        &:hover{
            color: var(--very-light-gray);
            background-color: var(--bright-orange);
            cursor: pointer;
        }
    }
}
.dark-cyan-section{
    background-color: var(--dark-cyan);
    a{
        color: var(--dark-cyan);
        background-color: var(--very-light-gray);
        border: solid 2px var(--very-light-gray);
        text-decoration: none;
        transition: ease-in-out .4s all;

        &:hover{
            color: var(--very-light-gray);
            background-color: var(--dark-cyan);
            cursor: pointer;
        }
    }
}
.very-dark-cyan-section{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 .625rem .625rem;

    a{
        color: var(--very-dark-cyan);
        background-color: var(--very-light-gray);
        border: solid 2px var(--very-light-gray);
        text-decoration: none;
        transition: ease-in-out .4s all;

        &:hover{
            color: var(--very-light-gray);
            background-color: var(--very-dark-cyan);
            cursor: pointer;
        }
    }
}
