@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); // Lexend Deca (400)
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); // Big Shoulders Display (700)
@import "partials/sections";

:root{
// COLORS
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

--transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
--very-light-gray: hsl(0, 0%, 95%); // background, headings, buttons

}

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 0,9375rem;
    margin-top: 1rem;
    width: 100%;
    min-height: calc(100vh - 0.1px);

    @media only screen and (min-width: 768px){
        margin-top: 0;
        overflow: hidden;
    }
}

article{
    max-width: 375px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    
    // MEDIA QUERRY
    @media only screen and (min-width: 768px){
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .bright-orange-section{
            border-radius: .625rem 0 0 .625rem;
        }

        .very-dark-cyan-section{
            border-radius: 0 .625rem .625rem 0;
        }
     }
}

.attribution { 
    font-family: "Lexend Deca";
    font-size: 0.6875rem; 
    margin-top: 1rem;
    text-align: center;
}
.attribution a { 
    color: var(--transparent-white); 
    text-decoration: none;
}