@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); // Lexend Deca (400)
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); // Big Shoulders Display (700)
@import "partials/sections";

:root{
// COLORS
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

--transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
--very-light-gray: hsl(0, 0%, 95%); // background, headings, buttons

}

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    font-size: 0,9375rem;
    margin-top: 1rem;
}

article{
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}