@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
section {
  max-width: 375px;
  min-height: 450px;
  padding: 3.5rem 2.25rem;
}
@media only screen and (min-width: 768px) {
  section {
    min-height: 580px;
  }
}
section img {
  margin-bottom: 2rem;
}
section h2 {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
section p {
  color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  section p {
    margin-bottom: 6rem;
  }
}
section a {
  border-radius: 2rem;
  font-family: "Lexend Deca", sans-serif;
  padding: 0.8rem 2rem;
}

.bright-orange-section {
  background-color: var(--bright-orange);
  border-radius: 0.625rem 0.625rem 0 0;
}
.bright-orange-section a {
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
  border: solid 2px var(--very-light-gray);
  text-decoration: none;
  transition: ease-in-out 0.4s all;
}
.bright-orange-section a:hover {
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
  cursor: pointer;
}

.dark-cyan-section {
  background-color: var(--dark-cyan);
}
.dark-cyan-section a {
  color: var(--dark-cyan);
  background-color: var(--very-light-gray);
  border: solid 2px var(--very-light-gray);
  text-decoration: none;
  transition: ease-in-out 0.4s all;
}
.dark-cyan-section a:hover {
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.very-dark-cyan-section {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 0.625rem 0.625rem;
}
.very-dark-cyan-section a {
  color: var(--very-dark-cyan);
  background-color: var(--very-light-gray);
  border: solid 2px var(--very-light-gray);
  text-decoration: none;
  transition: ease-in-out 0.4s all;
}
.very-dark-cyan-section a:hover {
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
  cursor: pointer;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B486B;
  background: linear-gradient(90deg, #F56217, var(--dark-cyan), #0B486B);
  font-size: 0, 9375rem;
  margin-top: 1rem;
  min-height: calc(100vh - 0.1px);
  width: 100%;
}
@media only screen and (min-width: 768px) {
  body {
    margin-top: 0;
    overflow: hidden;
    background: #0B486B;
    background: linear-gradient(to top, #F56217, #0B486B);
  }
}

article {
  max-width: 375px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
}
@media only screen and (min-width: 768px) {
  article {
    max-width: 1125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  article .bright-orange-section {
    border-radius: 0.625rem 0 0 0.625rem;
  }
  article .very-dark-cyan-section {
    border-radius: 0 0.625rem 0.625rem 0;
  }
}

.attribution {
  font-family: "Lexend Deca";
  font-size: 0.6875rem;
  margin-top: 1rem;
  text-align: center;
  display: none;
}
@media only screen and (min-width: 768px) {
  .attribution {
    display: block;
  }
}

.attribution a {
  color: var(--transparent-white);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */